@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root{

    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:1rem solid rgba(255,255,255,.3);
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
   
    scroll-padding-top:9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;

}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}


body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #fff;
    text-decoration: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
}

.btnh {
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btnh:hover{
    letter-spacing: .2rem;
}

/*header*/
.header{
    height: 100vh;
    background: url(./img/group1/backgraound.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   
}
.header-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    z-index: 2;
    background-color: var(--bg);
    border-bottom: var(--border);
    
   
}
.header-bar .responsive{
    order: 1;
    display: none;
}
.header-bar .responsive i{
    font-size: 2.5rem;
    color: #fff;
    padding-left: 1rem;

}
.header-bar .responsive i:hover{
    color: var(--main-color);
}
.header-bar .navbarz{
    margin-right: 2rem;
}
.header-bar .navbarz a{
   text-decoration: none;
   font-size: 1.5rem;
   margin-right: 2rem;
   color: #fff;
} 
.header-bar .navbarz a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding-bottom: .5rem;
}

.header-bar .nav-form{
    width: 20rem;
    background-color: #fff;
    border-radius: 20px;
    margin-right: 3rem;
}

.header-bar .nav-form input{
    width: 85%;
    height: 3rem;
    border-radius: 20px;
    font-size: 1.5rem;
    padding-left: 1rem;
}
.header-bar .nav-form label{
    font-size: 1.5rem;
}
/**/
.header .compuny-logo{
    margin-top: 60px;
}
.header .compuny-logo img{
    height: 100px;
}

.header .compuny-name h1{
    margin-top: 40px;
    color: #fff;
    font-size: 5rem;
    letter-spacing: 1rem;
}
.header .compuny-name img{
    width: 50%;
}

.header .header-food-items img{
    height: 40rem;
    width: auto;
}
.header .header-text{
    margin-left: 35%;
}
.header .header-text h3{
    color: #fff;
    letter-spacing: 1.5rem;
    margin-bottom: 1rem;
}

.header .header-text a{
    font-size: 2rem;
    border-radius: 30px;
    margin-bottom: 10px;
}

.header .header-text p{
    color: #fff;
    font-size: 1.5rem;
    
}

/*-menu contant*/
.menu-contant{
    padding: 5rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menu-contant h1 {
   font-size: 5rem;
}
.menu-contant p{
    color: var(--black);
    font-size: 2rem;
    margin-top: 35px;
    width: 60%;
   
}

/*menu*/

.container .menu{
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    
}


/**/
.container .menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-top: 70px;
   
}
.menu .box-container .box img{
    height: 70%;
}
.menu .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}
.menu  .box-container .box p{
    color: var(--black);
    font-size: 1.5rem;
    width: 50%;
}

.menu .menu-btnl{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.menu .menu-btnl a{
    border-radius: 30px;
    letter-spacing: .5rem;
    background-color: #343434;
    padding: .9rem 5rem;
    margin-top: 70px;
}

.menu .menu-btnl a:hover{
    color: var(--main-color);
}
/*.............................
story
...............................*/
.story-contant{
    
    background-color: #27292c;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.story-contant .story-contant-img h1{
    color: #fff;
    font-size: 3rem;
    padding-top: 50px;
    width: 100%;
}

.story-contant .story-contant-text{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    width: 80%;
}
.story-contant .story-contant-text p{
    color: #fff;
    font-size: 1.5rem;
    margin: 0 10px 0 0;
}
.story-contant .story-contant-text .texs{
    margin: 0 0 0 10px;
}

.story-contant .story-btn{
    padding-bottom: 7rem;
}


/*story*/

.container .story .story-containt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}
.container .story .story-containt img{
    height: 50rem;
}
.container .story .story-containt .story-contact-img{
    margin-left: 5rem;
}
.container .story .story-containt .story-contact-img h1{
    font-size: 5rem;
}
.container .story .story-containt .story-contact-img p{
    font-size: 1.5rem;
}

/**/
.container .story .story-containt2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.story .story-containt2 .story-containt2-text{
    margin-right: 5rem;
}
.story .story-containt2 .story-containt2-text h1{
    font-size: 5rem;
}
.story .story-containt2 .story-containt2-text p{
    font-size: 1.5rem;
}

.story .story-containt2 img{
    height: 50rem;
    
}


/*...........................
contact start
............................*/
.container .contact{
    height: 100vh;
    background: url(./img/group1/backgraound.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.container .contact .contact-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .contact .contact-heading h1{
    
    font-size: 5rem;
    padding: 2rem;
    margin-top: 3rem;
    color: #fff;
}
.container .contact .contact-heading p{
    color: #fff;
    font-size: 1.5rem;
    width: 70%;
    
    width: 50%;
}
.container .contact .contact-img img{
    height: 600px;
    width: 120%;
    margin-left: -80px;
    margin-top: -32rem;
}
.container .contact .contact-pizza {
    margin-top: -20rem;
}

.container .contact .contact-pizza img{
    height: 65%;
}

/*document start*/

.document .row{
    padding: 10rem 15rem 18rem 15rem;
}

.document .row .col .information{
    margin-left: 2rem;
}
.document .row .col .information h1{
    font-size: 2.5rem;
}
.document .row .col .information p{
    font-size: 1.5rem;
}
/**/
.document .document-text{
    display: flex;
    flex-direction: column;
    padding: 0 15rem 6rem 15rem;
    justify-content: center;
    align-items: center;
}
.document .document-text p{
    font-size: 1.5rem;
    padding-bottom: 4rem;
}
.document .document-text a{
    text-decoration: none;
    font-size: 1.5rem;
    
}
/*document end*/

/*about start*/

.container .about{
   background-color: #27292b;
   padding-top: 15rem;
   padding-bottom: 15rem;
   display: flex;
   flex-direction: column;
   position: relative;

  
}
.container .about .about-contant{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.container .about .about-contant h1{
    color: #fff;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.container .about .about-contant p{
    color: #fff;
    font-size: 1.5rem;
    width: 50%;
}

.container .about form{
    width: 100%;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .about form input{
    width: 40%;
    height: 4rem;
    border-radius: 3rem 0 0 3rem;
    padding-left: 3rem;
    font-size: 1.5rem;
    
}
.container .about form label{
    padding: 1rem 5rem;
    border-radius: 0 3rem 3rem 0;
    background-color: #53514f;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    
   
}
.container .about form label:hover{
    letter-spacing: .2rem;
}

.container .about .about-style1{
    position: absolute;
    right: 0;
    top: -5rem;
    z-index: 0;
}
.container .about .about-style2{
    position: absolute;
    bottom: -9rem;
    z-index: 0;
}

/*footer start*/

.container footer {
    
    padding: 15rem 5rem;
    background-color: #DDDDDD;
}
.container footer .container .row .col .footer{
    margin-right: 30px;
}
.container footer .container .row .col .footer h1{
    font-size: 3rem;
}
.container footer .container .row .col .footer p{
    font-size: 1.5rem;
}

.container footer .container .row .col .footer .icons a{
    font-size: 2rem;
    color: #111111;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 2.5px;
}

.container footer .container .row .col .footer .icons a:hover{
    color: var(--main-color);
}

.container footer .container .row .col .second-row h2{
    font-size: 3rem;
}
.container footer .container .row .col .second-row p{
    font-size: 1.5rem;
    width: 50%;
}
















@media (max-width:1100px){

   
    .header .header-bar .navbarz {
        display: flex;
        flex-direction: column;
        line-height: 4rem;
        background-color: #fff;
        border-radius: 5px;
        width: 15rem;
        align-items: center;
        position: absolute;
        top: 9000000px;
        right: -80px;
        margin-bottom: 99999999px;
    }
    .header .header-bar .navbarz a{
       margin-right: 0rem;
       color: var(--black);
    }

    .header .header-bar .responsive{
        display: inline-block;
    }

    .header .header-bar .responsive i:hover .header-bar .navbarz {
        top: 40px;
    }






    .header .header-compuny-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .header .compuny-logo{
        margin-top: 20px;
    }
    .header .compuny-name h1{
        font-size: 3rem;
        
    }
    .header .header-food-items img{
        height: 200px;
    }
    /*story*/
    .story-contant .story-contant-img img{
        width: 100%;
    }
    .story-contant .story-contant-text{
        display: inline-block;
    }
    .story-contant .story-contant-text p{
       
        margin: 0 0 20px 0;
    }
    .story-contant .story-contant-text .texs{
        margin: 20px 0 0 0;
    }
    .story-contant .story-contant-text p{
        margin: 0;
    }
    .container .story{
        height: 132vh;
    }
    .container .story .story-containt{
        display: inline-block;
    }
    .container .story .story-containt img{
        height: 30rem;
    }
    .container .story .story-containt .story-contact-img{
        margin-left: 0;
    }
    .container .story .story-containt .story-contact-img h1{
        font-size: 3.5rem;
    }
    .container .story .story-containt .story-contact-img p{
        font-size: 1rem;
    }
    /*..........*/
    .container .story .story-containt2{
        display: grid;
        position: relative;
    }
    .container .story .story-containt2 .story-containt2-text{
        margin-right: 0;
        position: absolute;
        bottom: -500px; 
    }
    .story .story-containt2 .story-containt2-text h1{
        font-size: 3.5rem;
    }
    .story .story-containt2 .story-containt2-text p{
        font-size: 1rem;
    }

    .container .story .story-containt2 img{
        position: absolute;
        top: 0;
        height: 30rem;
    }

     /*contact......*/
     .container .contact .contact-img{
        display: none;
    }
    .container .contact .contact-heading img{
        margin-left: 0;
    }
    .container .contact .contact-heading p{
        margin-left: 0;
    }
    .container .contact .contact-pizza{
        margin-top: 0;
    }
    .container .contact .contact-pizza img{
        height: 50%;
    }

    /*document end*/

    /*about start*/
    .container .about form label{
        padding: 1.2rem 3rem;
        font-size: 1.2rem;
    }


    .document .row{
        padding: 10rem 10rem 18rem 10rem;
    }

    .document .row .col .information{
        margin-left: 2rem;
    }
    .document .row .col .information h1{
        font-size: 2.5rem;
    }
    .document .row .col .information p{
        font-size: 1.2rem;
    }
    /**/
    .document .document-text{
        
        padding: 0 10rem 6rem 10rem;
    
    }
    .document .document-text p{
        font-size: 1.2rem;
        padding-bottom: 4rem;
    }
        
}
/*...........*/
@media (min-width:991px){
    .header{
        display: block;
    }
    .header .compuny-logo{
        margin-top: 115px;
    }
    .header .compuny-name {
       margin-bottom: 80px;
    }

    .header .header-food-items img{
        position: absolute;
        bottom: -120px;
        right: 0;
        height: 80%;
    }
    .header .header-text{
        margin-left: 0%;
    }

    .header .header-text h3{
        margin-bottom: 5rem;
    }
    .header .header-text a{
        margin-bottom: 5rem;
    }
    .header .header-text p{
        width: 490px;
    }
    

}


